//讀取動畫start
.loading-overlay{
    position: fixed;
            top: 0;
            width: 100vw;
            height: 100vh;
            background-color: $primary;
            z-index: 999;
            display: flex;
            justify-content: center;
            align-items: center;
}
.loading-overlay.active{
    opacity: 0;
    transition: all 1s 1s;
    z-index: -99;
  
}
.loading-logo{
    animation: loading 2s linear infinite;
}

@keyframes loading{
    0%{
        opacity: 0;
      
    }
   
    100%{
        opacity:1;
       
    }
}
//讀取動畫end



header{
    background-color: $primary;
    position: fixed;
    top:0;
    width: 100%;
    z-index:99;
    
}
nav{
    background-color: $primary;
    //  position: fixed;
    // top:0;
    // width: 100%;
    // z-index: 2;
   


  
.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// 漢堡start
.btn-buger{
    display: none;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    
  }
  .btn-buger::before{
    position: absolute;
    content:"";
    width: 20px;
    height: 1px;
    background-color: $black-100;
    top: 8px;
    right: 2px;
    transition: all .5s;
  }
  .btn-buger::after{
    position: absolute;
    content:"";
    width: 20px;
    height: 1px;
    background-color: $black-100;
    bottom: 8px;
    right: 2px;
    transition: all .5s;
    
  }
//   絕對定位調整置中
  .btn-buger.open::before,
  .btn-buger.open::after {
    top: 50%;
    transform: translateY(-50%);
  }
  .btn-buger.open::before {
    transform: rotate(45deg);
  }
  .btn-buger.open::after {
    transform: rotate(-45deg);
  }
  // 漢堡end

    .nav-content{
        width: 389px;
        justify-content: space-between;
        display: flex;
        a{
            margin: 20px 0px;
            padding: 4px 0px;
            color:$black-100;
            transition: all .5s;
            position: relative;
            &::after{
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                right: 0;
                width: 0%;
                margin: auto;
                color:transparent;
                background:black;
                height: 1px;
            }
        }

        .nav-content_main{
            display: flex;
            width: 333px;
            justify-content: space-between;
           
           
        }
    }
}
.nav-content a:hover{
    color:$brand-color;
}
.nav-content a:after{
    transition: all .5s;
}
.nav-content a:hover::after{
    width: 100%;
}

@media(max-width:767px){
    
        .logo{
            z-index: 4;
          
            img{
                width: 127.41px;
             }
        }
        nav{
            .btn-buger{
                display: block;
                z-index: 4;
            }
            .logo{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%),;
            }
        .nav-content{
            justify-content: flex-end;
            
            .nav-content_main{
                flex-direction: column;
                justify-content: space-evenly;
              height: 0px;
              overflow: hidden;
              position: fixed;
              top: 0;
              right:0;
              left: 0;
              bottom: 0;
              text-align: center;
              width: 100%;
              background-color:$primary;
              z-index: 3;


              .icon-account{
                margin: 0 auto;
              }
              
            }
            .nav-content_cart{
                z-index: 4;
              }
            // !! 這個不能包在nav-content_main裡面
            .nav-content_main.open{
                height: 100vh;
              }

        
        }
    }
  
    .nav-content_main{
        // 要多寫一個a找的到！
        a{
        &:nth-child(1){
            margin-top: 80px;
        }
        &:nth-child(5){
            margin-bottom: 80px;
        }
        } 
    }
    

}  


// footer start
footer{
    background-color: $secondary;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:$primary;

    li{
        padding-top:44px;
        padding-bottom: 24px;
    }

    .pagetop{
        position: relative;
        padding-right: 9px;
        a{
            color:$primary;
            font-family:  'Noto Serif TC', serif;
            font-weight: 300;
            transition: all .5s;
            &:hover{
                color:$hover-color;

                &::before{
                    background-color: $hover-color;
                }
            }
            &::before{
                position: absolute;
                content: "";
                height: 80px;
                width: 1px;
                top:-10px;
                right: 0px;
                background-color:$primary;
                transition: all .5s;
            }
        }

      
    }
}
.instagram{
    display: flex;
    font-size: 12px;
    align-items: center;
    font-family:  'Noto Serif TC', serif;
    font-weight: 300;
    padding-bottom: 24px;
    color:$primary;

    img{
        margin-right: 16px;
        color:$primary;
        font-weight: 300;
    }
    
}
.copyright{
    font-size: 12px;
    font-family:  'Noto Serif TC', serif;
    font-weight: 300;
}
// footer end