//讀取動畫start
.loading-overlay{
    position: fixed;
            top: 0;
            width: 100vw;
            height: 100vh;
            background-color: $light;
            z-index: 999;
            display: flex;
            justify-content: center;
            align-items: center;
}
.loading-overlay.active{
    opacity: 0;
    transition: all 1s 1s;
    z-index: -99;
  
}
.loading-logo{
    animation: loading 2s linear infinite;
}

@keyframes loading{
    0%{
        opacity: 0;
      
    }
   
    100%{
        opacity:1;
       
    }
}
//讀取動畫end



header{
    background-color: $primary;
    position: fixed;
    top:0;
    width: 100%;
    z-index:99;
    
}

   
.logo{
    a{
        display: block;
        width: 190px;
        height: 32px;
        background-image: url("../images/logo.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        text-decoration: none;
        overflow: hidden;
        text-indent: 101%;
        white-space: nowrap;
        @include phone{
            width: 127.41px;
            height: 24px;
        }
    }
}

// 漢堡start
.btn-burger{
    display: none;
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 1030;
    cursor: pointer;
    @include phone{
        display: block;
    }
    
  }
  .btn-burger::before{
    position: absolute;
    content:"";
    width: 20px;
    height: 1px;
    background-color: $black-100;
    top: 8px;
    right: 2px;
    transition: all .5s;
  }
  .btn-burger::after{
    position: absolute;
    content:"";
    width: 20px;
    height: 1px;
    background-color: $black-100;
    bottom: 8px;
    right: 2px;
    transition: all .5s;
    
  }
//   絕對定位調整置中
  .btn-burger.open::before,
  .btn-burger.open::after {
    top: 50%;
    transform: translateY(-50%);
  }
  .btn-burger.open::before {
    transform: rotate(45deg);
  }
  .btn-burger.open::after {
    transform: rotate(-45deg);
  }
  // 漢堡end

    .nav__content{
        a{
            
            color:$dark;
            transition: all .5s;
            position: relative;
            &::after{
                position: absolute;
                content: "";
                bottom: 20px;
                left: 0;
                right: 0;
                width: 0%;
                margin: auto;
                color:transparent;
                background:$brand-color;
                height: 2px;
                transition: all .5s;
            }
            &:hover{
                color:$brand-color;
                &::after{
                    width: 100%;
                }
            }
        }
        &__main{
            display: flex;
            @include phone{
                display: none;
                background: transparent;
                opacity: 0;
                transition: all .5s;
              &.open{
                 display: flex;
                  opacity: 1;
                  background:$light;
              }
            }
            a{
                @include phone{
                    display: none;

                     &.open{
                         display: block;
                    }
                }
            }
        }

    }




 


// footer start
footer{
    background-color: $primary;
}

.footer-content{


    .pagetop{

        &::before{
            position: absolute;
            content: "";
            height: 64px;
            width: 1px;
            bottom: 0;
            right: 0px;
            background-color:$light;
            transition: all .5s;
        }
     
        &:hover{

            &::before{
                    background-color: $hover-color;
                    height: 4px;
                }
        }
        

      
    }
}


// footer end