//讀取動畫start
.loading-overlay{
    position: fixed;
            top: 0;
            width: 100vw;
            height: 100vh;
            background-color: $light;
            z-index: 2000;
            display: flex;
            justify-content: center;
            align-items: center;
}
.loading-overlay.active{
    opacity: 0;
    transition: all 1s 1s;
    z-index: -99;
  
}
.loading-logo{
    animation: loading 2s linear infinite;
}

@keyframes loading{
    0%{
        opacity: 0;
      
    }
   
    100%{
        opacity:1;
       
    }
}
//讀取動畫end


.frame{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    padding: 20px;
    z-index: 1030;
    @include phone{
        padding: 4px;
    }
    &__inner{
        &::before{
            content:"";
            position: absolute;
            width:100%;
            height:20px;
            background-color: $secondary;
            top: -20px;
            z-index: 100;
        }
        &::after{
            content:"";
            position: absolute;
            width:100%;
            height:20px;
            background-color: $secondary;
            bottom: -20px;
            z-index: 100;
            transform: translateZ(0);
            backface-visibility:hidden;
        }
    }

}
.nav-pc{
    position: fixed;
        z-index: 1030;
        top: 20px;
        left: 20px;
        width:calc( 100% - 40px );
        background: $secondary;
        border: 2px solid $primary;
        @include phone{
            width:calc( 100% - 8px );
            top: auto;
            top: 4px;
            left: 4px;
        }
}
.nav-phone{

    position: fixed;
    z-index: 1030;
    top: 20px;
    left: 20px;
    width:calc( 100% - 40px );
    background: $secondary;
    border: 2px solid $primary;
    @include phone{
        width:calc( 100% - 8px );
        top: auto;
        bottom: 4px;
        left: 4px;
    }
}

.leftnav{
    position: fixed;
    left: 20px;
    width: 40px;
    height: calc( 100% - 40px);
    background-color: $secondary;
    border: 2px solid $primary;
    display: flex;
    align-items: flex-end;
    &__content{
        font-size: 12px;
        transform: rotate(-90deg);
        white-space: nowrap;
        transform-origin: top left;
        line-height: 36px;
    }
    @include phone{
        display: none;
    }


}

   
.logo{
    a{
        display: block;
        width: 40px;
        height: 48px;
        background-image: url("../images/dean-logo.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        text-decoration: none;
        overflow: hidden;
        text-indent: 101%;
        white-space: nowrap;
       @include phone{
        width: 20px;
        height: 24px;
       }
    }
}

// 漢堡start
.btn-burger{
    display: none;
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 1030;
    cursor: pointer;
    @include phone{
        display: block;
    }
    &::before,&::after{
        position: absolute;
        content:"";
        width: 20px;
        height: 1px;
        background-color: $black-100;
        right: 2px;
        transition: all .5s;
    }
    &::before{
        top: 8px;
    }
    &::after{
        bottom: 8px;
    }
    &.open{
        &::before,&::after{
            top: 50%;
            transform: translateY(-50%);
        }
        &::before{
            transform: rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
        }
    }
    
  }
  // 漢堡end

.nav__content{
        a{
            color:$dark;
            transition: all .5s;
            position: relative;
            &::after{
                position: absolute;
                content: "";
                bottom: 20px;
                left: 0;
                right: 0;
                width: 0%;
                margin: auto;
                color:transparent;
                // background:$brand-color;
                height: 1px;
                transition: all .5s;
            }
            &:hover{
                // color:$brand-color;
                &::after{
                    width: 100%;
                }
            }
        }
        &__main{
            @include phone{
                visibility: hidden;
                background: transparent;
                opacity: 0;
                transition: opacity 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95), visibility 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
                
            &.open{
                visibility: visible;
                opacity: 1;
                background:$light;
            
            }
        }
    }        
}
.nav__active{
    background-color: $primary;
    color: $secondary;
}
.nav__default{
    background-color: $secondary;
    color: $primary;
}


// footer start


.footer-content{


    .pagetop{

        &::before{
            position: absolute;
            content: "";
            height: 64px;
            width: 1px;
            bottom: 0;
            right: 0px;
            background-color:$light;
            transition: all .5s;
        }
     
        &:hover{

            &::before{
                    // background-color: $hover-color;
                    height: 4px;
                }
        }
        

      
    }
}

// footer end