
.about__img{
    background-image: url("../images/about-img.JPG");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    @include phone{
        background-attachment: initial;
    }
    
}
.skate{
    perspective: 500px;
    overflow: hidden;//讓skate不會顯示
    @include phone{
        perspective: 400px;
        height: 160px;
    }
        &__text{
        animation-name: scroll;
        animation-duration:3s;
        animation-iteration-count:infinite;
        animation-timing-function:cubic-bezier(.58,.54,1,.39);
        right:-50px;
        top:50%;
        transform-style:preserve-3d;
        transform: rotateX(0deg) rotateY(45deg) rotateZ(0deg);
       
        }
 
}
@keyframes scroll{
    from {
        right: -50px;
        top:50%;
      
      }
      to {
        right: 110%;
        top:80%;
  
      }
}
