.custom-container{
    max-width: 784px;
    padding: 0px 16px;
    margin: 0 auto;
}
.custom-bg{
    background-color: $custom-bg;
    background-size: 100%;
 
    .custom-pic{
        position: relative;
        img{
            // width: 65.964612%;
            margin: 0 auto;
            padding: 14.245014% 0px;
         
        }
        .custom-title{
            position: absolute;
            writing-mode: vertical-lr;
            top:5.128205%;
            left: 5.1%;
            letter-spacing: 15px;
            color: $primary;
        }
    }
 }


.custom-text{
   margin: 32px 0px;
   
    .custom-text_main{
        font-size: 20px;
        margin-bottom: 16px;
    }
    
}
.custom-form{
    input[type="text"]{
        margin-bottom: 0;
        width: 267px;
    }
    label{
        color:$black-50;
        font-size: 12px;
    }
}
.btn-custom{
    width: 22.606383%;
    margin-top: 24px;
}
.custom-content_form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

@media(max-width:767px){
    .custom-bg{
        .custom-pic{
            .custom-title{
                font-size: 16px;
            }
        }
    }
    .custom-text{
        margin: 8px 0px;
        .custom-text_main{
            font-size: 16px;
        }
    }
    .custom-content_form{
        flex-direction: column;

        .custom-form,.btn-custom{
            width: 100%;
            input[type="text"]{
                width: 100%;
            }
            
            
            
        }
    }
}
