
.faq{
    max-width: 752px;
    margin: 0 auto;

    h2{
        text-align: center;
        padding-top: 40px;
    }
}
.faq-content{
    margin-top: 56px;
}
.faq-list{
    // max-width:752px;
    padding: 16px 24px;
    background-color: $primary;
    box-shadow: 0px 2px 10px $black-10;
    cursor: pointer;
    margin-bottom: 48px;
    border-radius: 4px;
}
.faq-list_title{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.faq-list_p{
    padding-top: 24px;
    display: none;
    color:$black-70;
}

.btn-faq{
    border: none;
    width: 24px;
    height: 24px;
    background-color:$primary;
    position: relative;
    cursor: pointer;

    &::before{
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color:$faq-color;
        transition: all .5s;
    }
    &::after{
        position: absolute;
        content: "";
        width: 2px;
        height:20px;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color:$faq-color;
        transition: all .5s;
    }
  
}
.btn-faq.open::after{
    transform: translate(-50%, -50%) rotate(90deg);
    transition: all .5s;
}

.text-title_color{
    color:$faq-color;
}

@media(max-width:767px){
    .faq-list_title{
        font-size: 16px;
    }

    .faq-title{
        font-size: 24px;
    }
}

