.wrap{
    margin-top: 72px;
}
.loginpage{
    margin-bottom: 72px;
    .login-title{
        text-align: center;
        padding-bottom: 32px;
    }
}


.forget{
    font-size: 12px;
    margin-bottom: 24px;
    color:$black-70;
    margin: 0 auto;
    width: 485px;
}
.input-primary{
    padding: 9px 16px;
    border: 1px solid $black-30;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    background-color: $primary;
}
input[name="password-login"]{
   margin-bottom:16px;
}
.input-login{
    width: 485px;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
}
.login{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    .btn-primary{
        width: 218px;
        margin: 0 auto;
        margin-bottom: 16px;
    }
    .facebook{
        background-color: #3B5998;
        &:hover{
            background-color: #0c3180;
        }
    }
    .submit-btn{
        border: none;
        font-size: 16px;
        margin-top: 24px;
    }
}

.line{
    height: 1px;
    background-color:$black-30;;
    width: 42.54386%;
    margin: 24px auto;
    margin-top: 40px;
    
}

@media(max-width:767px){
    .login-title{
        font-size: 24px;
    }
    form{
        width: 90%;
    }
     .input-login{
        width: 100%;
    }
    .forget{
        width: 100%;
    }
    .line{
        width: 100%;
    }
    .login{
        width: 90%;
        .btn-primary{
            width: 100%;
        }
    }
}
