<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <!-- font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <!-- wowjs -->
  <link rel="stylesheet" href="public/js/WOW-master/css/libs/animate.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
      <!-- loading start -->
   <div class="loading-overlay">
    <div class="loading-logo">
      <img src="./assets/images/logo.svg" alt="">
    </div>

  </div>
  <!-- loading end -->
   <!-- header start -->
    <header class="fixed-top bg-light">
      <nav>
        <div class=" d-flex justify-content-between align-items-center container-xxl">
          <div class="btn-burger"></div>
          <div class="logo pos-absolute pos-md-static top-50 start-50  translate-middle translate-middle-md-none ">
            <h1 class="py-5" >
              <a href="index.html">餅乾生產餡 iiincookie</a>
            </h1>
          </div>
       <div class="nav__content d-flex">
        <div class="nav__content__main  me-7 gap-md-7 flex-column flex-md-row align-items-center bg-light pos-fixed pos-md-static top-0 start-0 w-100 vh-100 vh-md-auto gap-8  justify-content-center">
          <a class=" py-6  " href="product.html">商品</a>
          <a class=" py-6  " href="about.html">關於iiin</a>
          <a class=" py-6  " href="faq.html">FAQ</a>
          <a class=" py-6  " href="custom.html">鐵盒訂製</a>
          <a class=" py-6  " href="login.html"><img src="./assets/images/account.svg" alt=""></a>
         </div>
         <a class=" py-6 "  href="shoppingcart.html" class="nav-content_cart"alt=""><img src="./assets/images/icon-cart.svg" alt="">
          
         </a>
        </div>
       
      </nav>  
    </header>
    <!-- header  end-->
    <!-- main content start -->
    <main>
      <%- contents %>
    </main>
     <!-- main content end -->
     <!-- footer start  -->
     <footer>
      <div class="container">
        <div class="footer-content d-flex justify-content-between align-items-end py-7">
          <div>
            <a class=" light-hover transition-5s fs-8 font-serifTc d-flex gap-4 mb-4 mb-md-6" href="https://www.instagram.com/iiin.cookies/" target="_blank" class="instagram">
              <img src="./assets/images/icon-ig.svg" alt="">
              instagram
            </a>
            <p class="fs-8 text-light  font-serifTc">Copyright © 2022 餅乾生產餡.</p>
          </div>
          <p class="pagetop pe-2 light-hover font-serifTc pos-relative cursor-pointer">page top</p>
        </div>
      </div>
    </footer>
       <!-- footer end  --> 

<!-- bs js -->
<script src="./assets/js/vendors.js"></script>
<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <!-- awsomeicon -->
 <script src="https://kit.fontawesome.com/147f962b26.js" crossorigin="anonymous"></script>

<!-- gsap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<!-- wow -->
<script src="public/js/WOW-master/dist/wow.min.js"></script>

<!-- main js -->
<script src="./assets/js/all.js"></script>
</body>

</html>