.transition-5s{
    transition: all .5s;
}

.cursor-pointer{
    cursor: pointer;
}

.light-hover {
    color:$light;
    &:hover{
        color:$hover-color;
    }
}

.writing-vertical{
    writing-mode: vertical-lr;
}