





// 不要去改node bootstrap.utilities
$utilities: map-merge(
    $utilities,(
      "position": map-merge(
        map-get($utilities,"position"),
        (
          responsive: true,
          class: pos,
        )
      ),
     
      "z-index": (
        property: z-index,
        responsive: true,
        class: z,
        values: $zindex-values,
      ),
      "translate-middle": (
        property: transform,
        class: translate-middle,
        responsive: true,
        values: (
          null: translate(-50%, -50%),
          x: translateX(-50%),
          y: translateY(-50%),
          none:  translate(0 , 0),
        )
      ),
      "opacity": (
        property: opacity,
        responsive: true,
        values: (
          0: 0,
          25: .25,
          30: .3,
          50: .5,
          70: .7,
          85: 0.85,
          100: 1,
        )
      ),
      "background-repeat": (
        property: background-repeat,
        responsive: true,
        class: bg,
        values: (repeat, no-repeat, repeat-x, repeat-y, round, space)
      ),
      "background-size": (
        property: background-size,
        responsive: true,       
        class: bg,
        values: (auto, cover, contain)
      ),

    
    "font-size": map-merge(
      map-get($utilities,"font-size"),
      (
        responsive: true,
        rfs: false,
        
      )
    ),
    "font-weight": (
        responsive: true,
        property: font-weight,
        class: fw,
        values: $weightValue
      ),
    "border-color": (
      responsive: true,
      property: border-color,
      class: border,
      values: map-merge($theme-colors, ("white": $white))
    ),
    "rotate": (
      responsive: true,
      property: transform,
      class: rotate,
      values: (
       45:rotate(45deg),
       90:rotate(90deg),
      )
    ),
    "overflow": map-merge(
              map-get($utilities,"overflow"),(
                responsive: true,
                property: overflow,
                state: hover,
                class: overflow,
                values: ( auto, hidden, visible, scroll)
              )
            ),
            "overflow-x": map-merge(
              map-get($utilities,"overflow"),(
                responsive: true,
                state: hover,
                property: overflow-x,
                class: overflow-x
              )
            ),
            "overflow-y": map-merge(
              map-get($utilities,"overflow"),(
                responsive: true,
                state: hover,
                property: overflow-y,
                class: overflow-y
              )
            ),


     "height": (
        property: height,
        responsive: true,
        class: h,
        values: (
          4n: 16px,
          5n: 20px,
          8n: 32px,
          12n: 48px,
          25: 25%,
          60: 60%,
          50: 50%,
          75: 75%,
          100: 100%,
          auto: auto
        )
    ),
    "object-fit":(
      property: object-fit,
      class: object,
      values: cover,
    ),
    "width": map-merge(
             map-get($utilities,"width"),
             (
                class: w,
                responsive: true,
                values: map-merge(
                map-get(map-get($utilities, "width"), "values"),
                ( 
                  1 :1px,
                  4n: 16px,
                  8n: 32px,
                  10n :40px,
                  12n: 48px,
                  17n: 68px,
                  22n: 88px,
                  30: 30%,
                  35: 35%,
                  40: 40%,
                  45: 45%,
                  55: 55%,
                  60: 60%,
                  65: 65%,
                  70: 70%,
                  80: 80%,
                  85: 85%,
                  90: 90%,
                  95: 95%,
                  100: 100%,
                  auto: auto
                ),
              )
              )
            ),
            "min-viewport-height":  map-merge(
              map-get($utilities,"min-viewport-height"),(
                responsive: true,
                values: (
                  '50': 50vh,
                  '60': 60vh,
                  '70': 70vh,
                  '80': 80vh,
                  '90': 90vh
                )
              )
            ),
            "viewport-height": map-merge(
              map-get($utilities,"viewport-height"),(
                responsive: true,
                values: (
                  100: 100vh,
                  auto: auto,
                )
              )
            ),
      "padding-bottom": (
              responsive: true,
              property: padding-bottom,
              class: pb,
              values: $spacers,
            ),

            "min-height": (
              responsive: true,
              property: min-height,
              class: minh,
              values:(
                100:100%,
                ) 
            ),
            "letter-spacing": (
              responsive: true,
              property: letter-spacing,
              class: letterSpace,
              values:( 
                2:  2px,
                4:  4px,
                8:  8px,
                12: 12px,
                16: 16px,
                24: 24px,
                32: 32px
                ) 
                
            ),
            "writing-mode": (
              responsive: true,
              property: writing-mode,
              class: vertical,
              values:(
                rl: vertical-rl,
                lr: vertical-lr,
                ) 
                
            ),
            "line-height": (
              responsive: true,
      property: line-height,
      class: lh,
      values: (
        1: 1,
        sm: $line-height-sm,
        base: $line-height-base,
        lg: $line-height-lg,
        2:   2,
        2h:  2.5,
        3:   3,

      )
    ),
    "text-indent": (
      responsive: true,
      property: text-indent,
      class: text-indent,
      values:(
          2: 0.2em,
          3: 0.3em,
        ) 
        
    ),
          
      
   
    )
  );
// $utilities: map-merge(
//     $utilities,(
//       "position": map-merge(
//         map-get($utilities,"position"),
//         (
//           responsive: true,
//           class: pos
//         )
//       ),
//       "width": map-merge(
//         map-get($utilities,"width"),
//         (
//           responsive: true,
//           values: map-merge(
//           map-get(map-get($utilities, "width"), "values"),
//           (
//             30: 30%,
//             35: 35%,
//             40: 40%,
//             45: 45%,
//             55: 55%,
//             60: 60%,
//             65: 65%,
//             70: 70%,
//             80: 80%,
//             85: 85%,
//             90: 90%,
//             95: 95%,
//             auto: auto
//           ),
//         )
//         )
//       ),
//       "justify-content": map-merge(
//         map-get($utilities,"justify-content"),
//         (
//           class: justify,
//         )
//       ),
//       "align-items": map-merge(
//         map-get($utilities,"align-items"),
//         (
//           class: items,
//         )
//       ),
//       "align-self": map-merge(
//         map-get($utilities,"align-self"),
//         (
//           class: self,
//         )
//       ),
//       "white-space": (
//         property: white-space,
//         class: ws,
//         values: (
//           wrap: normal,
//           nowrap: nowrap,
//           pre: pre,
//           pre-line: pre-line,
//           pre-wrap: pre-wrap
//         )
//       ),
     
//       "overflow": map-merge(
//         map-get($utilities,"overflow"),(
//           responsive: true,
//           property: overflow,
//           state: hover,
//           class: overflow,
//           values: ( auto, hidden, visible, scroll)
//         )
//       ),
//       "overflow-x": map-merge(
//         map-get($utilities,"overflow"),(
//           responsive: true,
//           state: hover,
//           property: overflow-x,
//           class: overflow-x
//         )
//       ),
//       "overflow-y": map-merge(
//         map-get($utilities,"overflow"),(
//           responsive: true,
//           state: hover,
//           property: overflow-y,
//           class: overflow-y
//         )
//       ),
//       "shadow": map-merge(
//         map-get($utilities,"shadow"),(
//           responsive: true,
//           state: hover,
//         )
//       ),
      
    
//       "opacity": (
//         property: opacity,
//         class: opac,
//         values: (
//           0: 0,
//           25: .25,
//           30: .3,
//           50: .5,
//           67: .67,
//           75: .75,
//           85: .85,
//           100: 1,
//         )
//       ),
//       "color": map-merge(
//         map-get($utilities,"color"),(
//           state: hover,
//         )
//       ),
//       "background-color": map-merge(
//         map-get($utilities,"background-color"),(
//           state: hover,
//         )
//     ),
//       "object-position":(
//         property: object-position,
//         class: object,
//         values: (
//           start: left,
//           end: right,
//           top: top,
//           center: center,
//           bottom: bottom,
//           start-bottom: left bottom,
//           start-top: left top,
//           end-bottom: right bottom,
//           end-top: right top,
//           start-center: left center,
//           end-center: right center,
//           center-center: center center,
//           center-top: center top,
//           center-bottom: center bottom,
//         )
//       ),
//       "rounded": (
//       property: border-radius,
//       class: rounded,
//       values: (
//         null: $border-radius,
//         0: 0,
//         1: $border-radius-sm,
//         2: $border-radius,
//         3: $border-radius-lg,
//         bs: $spacer,
//         circle: 50%,
//         pill: $border-radius-pill
//       )
//     ),
//       "background-repeat": (
//         property: background-repeat,
//         class: bg,
//         values: (repeat, no-repeat, repeat-x, repeat-y, round, space)
//       ),
//       "background-size": (
//         property: background-size,
//         class: bg,
//         values: (auto, cover, contain)
//       ),
//       "background-position": (
//         property: background-position,
//         class: bg,
//         values: (
//           start: left,
//           end: right,
//           top: top,
//           center: center,
//           bottom: bottom,
//           start-bottom: left bottom,
//           start-top: left top,
//           end-bottom: right bottom,
//           end-top: right top,
//           start-center: left center,
//           end-center: right center,
//           center-center: center center,
//           )
//       ),
//       "background-attachment": (
//         property: background-attachment,
//         class: bg,
//         values: (fixed, local, scroll)
//       ),
    
 
   
//     )
//   );
