.nav-tabs {
border-bottom: 1px solid $black-70;
    .nav-link{
        color:$dark;
        &.active{
            border-color: $black-70  $black-70 $light;
            color: $primary;
        }
    }
    }
    