.timeLine{
    position: relative;
    // 第一條灰底線
    &::before{
        position: absolute;
        content: "";
        background-color: $light-gray;
        width: 100%;
        left: 0;
        top: 9px;
        height: 2px;
    }
    // 進度綠線
    &::after{
        position: absolute;
        content: "";
        background-color: $primary;
        width: 0%;
        left: 0;
        top: 9px;
        height: 2px;
        z-index: 2;
    }
    &.timeLine__50{
        &::after{
            content: "";
            width: 50%;
        }
    }
    &.timeLine__100{
        &::after{
            content: "";
            width: 100%;
        }
    }
}
.step{
    position: relative;
    &::before{
        position: absolute;
        color: white;
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border:1px solid $light-gray;
        top: -24px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $light-gray;
        z-index: 3;
        font-size: 12px;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-family-monospace;
    }
    &.step__1::before{
        content: "1";
    }
    &.step__2::before{
        content: "2";
    }
    &.step__3::before{
        content: "3";
    }
    // 進行步驟加上此class
    &.active{
        color: $primary;
        &::before{
        background-color: $primary;
        border-color: $primary;
        color:$white;
        }
    }
    // 打勾效果
    &.check::before{
        content: "\2713";
        font-size: 18px;
    }
  
}